:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-grey-11: hsla(200, 20%, 97%, 0.873);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}

main{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	place-items: center;
}

.container{
	height: 60px;
}
.wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}
.left{
	flex: 1; 
	display: flex;
	align-items: center;
	/* flex is like "weight" in android : properties is given to all child; here given to left right center*/
}
.center{
	flex: 1;
	text-align: center;
}
.right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
}
.language{
	cursor: pointer;
	font-size: 14px;
}
.searchContainer{
	display: flex;
	align-items: center;
	border: 0.5px solid var(--clr-grey-7);
	margin-left: 25px;
	padding: 5px;
}
.input{
	border: none;
}
.logo{
	font-weight: 400;
}
.menuItem{
	font-size: 14px;
	cursor: pointer;
	margin-left: 25px;
}
.announcement{
	height: 30px;
	background-color: teal;
	color: var(--clr-white);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
}
.container-slider{
	display: flex;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.arrow{
	display: flex;
	align-items: center;
	justify-content: center;
	width : 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top : 0;
	bottom: 0;
	margin : auto;
	opacity: 0.5;
	z-index: 2;
}
.wrapper-slider{
	position: relative;
	height: 100%;
	display: flex;
	transition: var(--transition);
}
article{
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: var(--transition);
}
article.allSlides{
	transform: translateX(100%);
}
article.nextSlide{
	transform: translateX(-100%);
}
article.activeSlide{
	opacity: 1;
	transform: translateX(0);
}
.imageContainer{ 
	display: flex;
	align-items: center;
	justify-content: center;
	flex : 1;
	height: 100%;
}
.infoContainer{
	flex : 1;
	padding : 50px;
}
.imageContainer img{
	height: 80%;
}
.title{
	font-size: 70px;
}
.description{
	margin: 50px 0px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 3px;
}
.btn{
	padding: 10px;
	font-size: 20px;
	background-color: transparent;
	cursor: pointer;
}
.container-allcategory{
	display: flex;
	width: 100vh;
	padding: 4px;
}
.container-category{
	flex:1;
	margin-left: 5px;
	position: relative;
}
.info{
	position: absolute;
	top : 0;
	left : 0;
	height: 100%;
	width : 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.info h2{
	color: var(--clr-white);
	margin-bottom: 20px;
}
.btn-shop{
	background-color: var(--clr-grey-6);
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
}